.DS_Store
__pycache__/
*.pyc
.idea/
.vscode/
env/
venv/
*.conda
*.ipynb_checkpoints
data/raw/
data/processed/
!data/raw/.gitkeep
!data/processed/.gitkeep
.idea/
data/raw/
models*.pkl
.ipynb_checkpoints/
notebooks/models/*.pkl
